<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petcare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetCare">
        <activity android:name=".activities.MascotaActivity" />
        <activity
            android:name=".activities.MascotaAddActivity"
            android:label="@string/agregarpet"
            android:parentActivityName=".activities.MascotaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.petcare.activities.MascotaActivity" />
        </activity>
        <activity
            android:name=".activities.MascotaEditActivity"
            android:label="@string/editarpet"
            android:parentActivityName=".activities.VacunaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.petcare.activities.VacunaActivity" />
        </activity>
        <activity
            android:name=".activities.InfoActivity"
            android:label="@string/info"
            android:parentActivityName=".activities.MascotaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.petcare.activities.MascotaActivity" />
        </activity>
        <activity
            android:name=".activities.VacunaActivity"
            android:label="@string/nombrepet"
            android:parentActivityName=".activities.MascotaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.petcare.activities.MascotaActivity" />
        </activity>
        <activity
            android:name=".activities.VacunaAddActivity"
            android:label="@string/agregarvacu"
            android:parentActivityName=".activities.VacunaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.petcare.activities.VacunaActivity" />
        </activity>
        <activity
            android:name=".activities.VacunaEditActivity"
            android:label="@string/editarvacu"
            android:parentActivityName=".activities.VacunaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.petcare.activities.VacunaActivity" />
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>